<div class="card" (click)="onSelect( )" [id]="id">
  <div class="card__face card__face--front">
    <img class="w-full h-full rounded-md   object-cover" src="../assets/Pandas-pana.svg" alt="text">
  </div>
  <div class="card__face card__face--back">
    <img class="w-full h-full rounded-md   object-cover" [src]="character.image" alt="text">
  </div>
</div>
