<div class="overlay">
  <div class="fireworks">
    <div class="firework">
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
    </div>
    <div class="firework" style="margin-top: -70px">
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
    </div>
    <div class="firework">
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
    </div>
    <div class="firework" style="margin-top: 70px">
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
    </div>
    <div class="firework">
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
    </div>
    <div class="firework" style="margin-top: -70px">
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
      <div class="explosion">
        <div class="spark silver"></div>
      </div>
    </div>
    <div class="firework">
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
      <div class="explosion">
        <div class="spark gold"></div>
      </div>
    </div>
  </div>
</div>
<div class="overlay2">
  <h1>You Win!!!</h1>
  <button (click)="onReset()"
    class="px-5 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-red-600 lg:px-10 rounded-xl hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
    Reset
  </button>

</div>
