<div class="container mx-auto mt-10">
  <section>
    <div
      class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-8 2xl:grid-cols-10 gap-2 my-2  ">

      <div class="scene scene--card  " *ngFor="let item of characters$ | async ;let i=index">

        <app-card (characterSelect)="onSelect($event,i)" [id]="i" [character]="item"></app-card>

      </div>

    </div>
  </section>
</div>
<app-win *ngIf="win" (reset)="onReset()"></app-win>
